/* index.html の <body> に適用されるスタイル */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: Arial, sans-serif; /* フォントも適用 */
}

/* headerのスタイル */
header {
  width: 100%;
  background-color: #333;
  padding: 20px 0;
  text-align: center;
  color: white;
  box-sizing: border-box; /* パディングも幅に含める */
}

/* header内のh1に余計なマージンを追加しない */
header h1 {
  margin: 0;
}

/* h1にスタイルを追加してみる */
h1 {
  color: #333;
  font-size: 2rem;
}
